// COLOR
$primary-color: #55c57a;
$primary-color-light: #7ed56f;
$primary-color-dark: #28b485;

$secondary-color-light: #ffb900;
$secondary-color-dark: #ff7730;

$tertiary-color-light: #2998ff;
$tertiary-color-dark: #5643fa;

$grey-color-light: #f7f7f7;
$grey-color: #777;
$white-color: #fff;
$shadow-color: rgba(0, 0, 0, 0.2);

// FONT
$default-font-size: 1.6rem;

// GRID
$grid-width: 114rem;
$gap-horizontal: 8rem;
$gap-vertical: 6rem;
$gap-vertical-small: 4rem;
